

#background {
    background-color: #6A041D;
    min-height: 100vh;
}

.panel {
    background-color: white;
    margin-bottom: 10px;
}

#top-panel {
    height: 12vh;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

#content-panel {
    height: 85vh;
}

.content-tile {
    height: 10vh;
}

.content-list {
    height: 75vh;
    overflow-y: scroll;
    border: dotted;
}

#map-container {
    width: 40vw;
    height: 80vh;
    margin: auto;
}

#message-list {
    
}

.chat-message {
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #FEEFDD;
}
